/* Reset */
html, body, div, span, applet, object, iframe,
header, aside, article, footer,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Pretty */
html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

/* Header */
header {
	position: absolute;
	padding: .5em;
	opacity: 0;
	
	-webkit-animation-name: header-hider;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes header-hider {
	from {
		top: -.5em;
		left: -.5em;
		opacity: 0;
	}
	20% {
		top: 0;
		left: 0;
		opacity: 1;
	}
	66% {
		top: 0;
		left: 0;
		opacity: 1;
	}
	to {
		top: -2em;
		left: -2em;
		opacity: 0;
		-webkit-transform: rotate(-5deg);
	}
}

header h1 {
	font-weight: bold;
	font-size: 150%;
}

header h2 {
	color: #999;
}

header h1, header h2 {
	display: inline;
	margin-right: .5em;
}

#gameboard {
	z-index: -1;
}

/* Sidebar */
.menu-button {
	z-index: 10000;
	position: fixed;
	right: .2em;
	top: .2em;
	
	margin: .2em;
	border: 2px double black;
	opacity: .5;
	height: 1.1em;
	width: 1.1em;
	
	color: white;
	background-color: black;
	
	text-align: center;
	font-size: 150%;
	-webkit-border-radius: 100px;
}

.menu-button:hover {
	color: black;
	background-color: white;
}

/* Menus */
.menu {
	z-index: 10001;
	opacity: 0;
	
	background: white;
	
	-webkit-transition: opacity .2s ease-in-out;
}

.menu.global {
	position: fixed;
	top: .2em;
	right: .2em;
}

.menu.contextual {
	position: absolute;
	width: 10em;
}

.menu.popped {
	opacity: .8;
}

.menu li {
	border: 1px solid black;
	padding: .2em .5em .2em .5em;
}

.menu li:hover,
.menu li.selected {
	color: white;
	background-color: black;
}

/* Game Objects */
.game-object {
	position: absolute;
}

.game-object.transitioning {
	-webkit-transition-property: top, left, webkitTransform;
	-webkit-transition-duration: 1s;
}

/* Dice */
.die {
	color: white;
	background-repeat: no-repeat;
	font-size: 200%;
	text-align: center;
	vertical-align: center;
}
.die.d4 { background-image: url('../images/dice/d4.png')}
.die.d6 { background-image: url('../images/dice/d6.png')}
.die.d8 { background-image: url('../images/dice/d8.png')}
.die.d10 { background-image: url('../images/dice/d10.png')}
.die.d20 { background-image: url('../images/dice/d20.png')}

.die.falling {
	-webkit-animation-name: falling-die;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes falling-die {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg) scale(2.0);
	}
	20% {
		opacity: 1;
		-webkit-transform: rotate(40deg) scale(1.0);
	}
	40% {
		-webkit-transform: rotate(350deg) scale(1.4);
	}
	80% {
		-webkit-transform: rotate(240deg) scale(1.0);
	}
	90% {
		-webkit-transform: rotate(340deg) scale(1.1);
	}
	100% {
		-webkit-transform: rotate(310deg) scale(1.0);
	}
}

/* Notes */
.note {
	padding: .8em 0 0 0;
	background-color: rgba(150, 150, 255, .6);
}

.note textarea {
	margin: 0;
	border: none;
	background-color: rgba(230, 230, 255, .6);
}

/* Backgrounds */
.grid-background {
	background-image: url('../images/backgrounds/grid.png');
}