/* Reset */
html, body, div, span, applet, object, iframe,
header, aside, article, footer,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Pretty */
html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

/* Standard Features */
button {
	background-color: rgba(230, 230, 230, .2);
	border: .2em solid rgba(230, 230, 230, .3);
}

button:hover {
	background-color: rgba(230, 230, 230, .5);
}

.toolbar button {
	border: none;
}

.toolbar button:hover {
	border: none;
}

/* Header */
header {
	position: absolute;
	padding: .5em;
	opacity: 0;
	
	-webkit-animation-name: header-hider;
	-webkit-animation-duration: 2.5s;
	-webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes header-hider {
	from {
		top: -.5em;
		left: -.5em;
		opacity: 0;
	}
	20% {
		top: 0;
		left: 0;
		opacity: 1;
	}
	66% {
		top: 0;
		left: 0;
		opacity: 1;
	}
	to {
		top: -2em;
		left: -2em;
		opacity: 0;
		-webkit-transform: rotate(-5deg);
	}
}

header h1 {
	font-weight: bold;
	font-size: 150%;
}

header h2 {
	color: #999;
}

header h1, header h2 {
	display: inline;
	margin-right: .5em;
}

#gameboard {
	z-index: -1;
}

#unit-test-results {
	position: absolute;
	right: 0;
	opacity: .8;
	width: 50%;
}

/* Sidebar */
.menu-button {
	z-index: 10000;
	position: fixed;
	right: .2em;
	top: .2em;
	
	margin: .2em;
	border: 2px double black;
	opacity: .5;
	height: 1.1em;
	width: 1.1em;
	
	color: white;
	background-color: black;
	
	text-align: center;
	font-size: 150%;
	-webkit-border-radius: 100px;
}

.menu-button:hover {
	color: black;
	background-color: white;
}

/* Menus */
.menu {
	z-index: 10001;
	opacity: 0;
	
	background: white;
	
	-webkit-transition: opacity .2s ease-in-out;
}

.menu.global {
	position: fixed;
	top: .2em;
	right: .2em;
}

.menu.contextual {
	position: absolute;
	width: 10em;
}

.menu.popped {
	opacity: .8;
}

.menu li {
	border: 1px solid black;
	padding: .2em .5em .2em .5em;
}

.menu li:hover,
.menu li.selected {
	color: white;
	background-color: black;
}

/* Game Boards */
.rollbox {
	position: absolute;
	top: 30%;
	bottom: 30%;
	left: 30%;
	right: 30%;
	
	border: .2em solid rgba(200, 200, 200, .4);
	background-color: rgba(230, 230, 230, .8);
	width: 40%;
	height: 40%;
}

.rollbox .total {
	float: right;
	font-size: 400%;
	color: rgba(0, 0, 0, .6);
}

.rollbox .toolbar {
	width: 100%;
	height: 1.5em;
	background-color: rgba(200, 200, 200, .4);
}

.rollbox .title {
	float: right;
}

/* Game Objects */
.game-object {
	position: absolute;
	background-size: 100%;
}

.game-object.transitioning {
	-webkit-transition-property: top, left, webkitTransform;
	-webkit-transition-duration: 1s;
}

/* Number Tokens */
.number-token {
	color: white;
	font-size: 200%;
	text-align: center;
	vertical-align: center;
	text-shadow: #333 2px 2px 2px;
	
	background-color: rgba(100, 100, 255, 1);
	border-radius: 20px;
	border: none;
	
	width: 30px;
	height: 30px;
}

.number-token.negative {
	color: rgba(255, 50, 50, 1);
}

/* Dice */
.die {
	background-color: rgba(0,0,0,0);
	border-radius: 0;
	background-repeat: no-repeat;
}
.die.d4, .die.d-4 { background-image: url('../images/dice/d4.png')}
.die.d6, .die.d-6 { background-image: url('../images/dice/d6.png')}
.die.d8, .die.d-8 { background-image: url('../images/dice/d8.png')}
.die.d10, .die.d-10 { background-image: url('../images/dice/d10.png')}
.die.d12, .die.d-12 { background-image: url('../images/dice/d12.png')}
.die.d20, .die.d-20 { background-image: url('../images/dice/d20.png')}

.die.falling-a {
	-webkit-animation-name: falling-die-a;
	-webkit-animation-duration: 1.2s;
	-webkit-animation-timing-function: linear;
}
.die.falling-b {
	-webkit-animation-name: falling-die-b;
	-webkit-animation-duration: 1.3s;
	-webkit-animation-timing-function: linear;
}
.die.falling-c {
	-webkit-animation-name: falling-die-c;
	-webkit-animation-duration: 1.4s;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes falling-die-a {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg) scale(2.0);
	}
	20% {
		opacity: 1;
		-webkit-transform: rotate(40deg) scale(1.0);
	}
	40% {
		-webkit-transform: rotate(350deg) scale(1.4);
	}
	80% {
		-webkit-transform: rotate(240deg) scale(1.0);
	}
	90% {
		-webkit-transform: rotate(340deg) scale(1.1);
	}
	100% {
		-webkit-transform: rotate(310deg) scale(1.0);
	}
}

@-webkit-keyframes falling-die-b {
	0% {
		opacity: 0;
		-webkit-transform: rotate(220deg) scale(2.0);
	}
	30% {
		opacity: 1;
		-webkit-transform: rotate(130deg) scale(1.0);
	}
	45% {
		-webkit-transform: rotate(350deg) scale(1.4);
	}
	85% {
		-webkit-transform: rotate(140deg) scale(1.0);
	}
	90% {
		-webkit-transform: rotate(340deg) scale(1.1);
	}
	100% {
		-webkit-transform: rotate(0deg) scale(1.0);
	}
}

@-webkit-keyframes falling-die-c {
	0% {
		opacity: 0;
		-webkit-transform: rotate(180deg) scale(2.0);
	}
	10% {
		opacity: 1;
		-webkit-transform: rotate(10deg) scale(1.0);
	}
	30% {
		-webkit-transform: rotate(190deg) scale(1.0);
	}
	50% {
		-webkit-transform: rotate(10deg) scale(1.0);
	}
	70% {
		-webkit-transform: rotate(300deg) scale(1.0);
	}
	80% {
		-webkit-transform: rotate(90deg) scale(1.1);
	}
	100% {
		-webkit-transform: rotate(45deg) scale(1.0);
	}
}

/* Notes */
.note {
	background-color: rgba(150, 150, 255, .6);
}

.note .toolbar {
	padding-bottom: 2px;
}

.note .toolbar button {
	font-size: 30%;
}

.note textarea {
	margin: 0;
	border: none;
	background-color: rgba(230, 230, 255, .6);
}

/* Backgrounds */
.grid-background {
	background-image: url('../images/backgrounds/grid.png');
}